div{
	background-color: darkblue;
	color: white;
	padding:50px 50px 50px 50px;
	border:8px ridge #FA8258;
	font-style: cursive;
	margin:100px 100px 100px 100px;
	width: 500px;
}
span{
	color: yellow;
	text-decoration: underline;
}